<sw-page class="shopbite-main-index">
    <template #smart-bar-header>
        <h2>{{ $tc('shopbite-main.general.mainMenuItemGeneral') }}</h2>
    </template>

    <template #content>
        <sw-card title="ShopBite" :hero="true">
            {{ $tc('shopbite-main.general.descriptionText') }}
        </sw-card>
    </template>
</sw-page>
