<?xml version="1.0" encoding="UTF-8"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/trunk/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>Configuration</title>
        <title lang="de-DE">Konfiguration</title>

        <input-field type="int">
            <name>defaultDeliveryTime</name>
            <label>Default Delivery Time</label>
            <label lang="de-DE">Standartlieferzeit</label>
            <helpText>Please set your default delivery time in minutes.</helpText>
            <helpText lang="de-DE">Bitte gebe die Standartlieferzeit in Minuten an.</helpText>
            <min>1</min>
            <max>1440</max>
            <defaultValue>30</defaultValue>
            <required>true</required>
        </input-field>

        <input-field type="bool">
            <name>isCheckoutEnabled</name>
            <label>Enable Checkout</label>
            <label lang="de-DE">Checkout aktivieren</label>
            <helpText>It enables the checkout in the store front.</helpText>
            <helpText lang="de-DE">Aktiviert die Bestellfunktionen</helpText>
            <defaultValue>true</defaultValue>
        </input-field>
    </card>

</config>
