.shopbite-multi_channel_group-list {
    .sw-data-grid {
        margin: 20px 0;
    }

    .sw-modal__content-delete-hint {
        margin-top: 15px;
        padding: 10px;
        background-color: #f5f5f5;
        border-radius: 4px;
    }

    .sw-context-button {
        margin-right: 5px;
    }
}