.shopbite-multi_channel_group-detail {
    .sw-card {
        margin: 20px 0;
        padding: 20px;
    }

    .sw-text-field,
    .sw-select-field {
        margin-bottom: 20px;
    }

    .shopbite-multi_channel_group-detail__actions {
        margin-top: 30px;
        display: flex;
        justify-content: flex-end;
    }

    .sw-button {
        margin-left: 10px;
    }
}